*{
    margin: 0;
    padding: 0;
}

nav{
    padding: 2em;
}

nav ul, footer ul{
    list-style-type: none;
}

nav li, footer li{
    display: inline-block;
}

nav ul li a, footer ul li a{
    text-decoration: none;
    color: #bec6ce;
}

body{
    background: #0a0a0a;

}

#banner-img h1{
    font-size: 70px;
    padding: 10% 10% 0%;
    margin: 10px;
    color: #c63104;
}
#banner-img p{
    color: #808a97;
}

#banner-img h1, #banner-img p{
    text-align: center;
}

#banner-img{
    background: url(./img/raphael-nogueira-unsplash.jpg) right bottom/cover no-repeat; 
    height: 500px;
}